@import url("../../Colors.css");

.ResetScoresDiv {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--background-color);
    color: var(--rouge);

    height: 10vh;
    width: 90vw;

    border: 5px solid var(--rouge);
    border-radius: 5vh;

    margin-top: 1vh;

    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);

    transition: background-color 0.3s ease;

    font-size: 5vh;
    font-weight: bolder;
}

/* Pour les pc */
@media (min-width: 1024px) {
    .ResetScoresDiv:hover {
        background-color: var(--rouge);
        color: var(--background-color);
    }

    /* .BoutonValiderManager:active, */
    .ResetScoresDiv.clicked {
        background-color: var(--background-color);
        color: var(--rouge);
    }
}

/* Pour les mobiles */
@media (max-width: 1023px) {
    .ResetScoresDiv.clicked {
        background-color: var(--rouge);
        color: var(--background-color);
    }
}