@import url("../Colors.css");

.PlayerManagerDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    margin-top: 2vh;

    width: 100vw;
}

.PlayerNameManager {
    font-size: 5vh;
    font-weight: bolder;
}

.PlayerScoreManager {
    font-size: 5vh;
    font-weight: bold;
}

.ManagerCategory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 90vw;
    font-size: 2vh;

    margin-top: 3.3vh;
}

.CategoryName {
    width: 30vw;
}

.CategoryInput {
    font-size: 3vh;
}

.EquipierSelect {
    width: 100%;
    padding: 5px;
    font-size: 1em;
  }
  

.CategoryCheckbox {
    transform: scale(2); /* Augmenter la taille de 1.5 fois */
    -webkit-transform: scale(2); /* Support pour les anciens navigateurs Webkit */
    -moz-transform: scale(2); /* Support pour les anciens navigateurs Mozilla */
    -ms-transform: scale(2); /* Support pour les anciens navigateurs Microsoft */
    -o-transform: scale(2); /* Support pour les anciens navigateurs Opera */
    margin-right: 4vw;
}
  
.BoutonNumero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;

    border: 1px solid black;
    border-radius: 1.5vh;

    margin-right: 2vw;

    background-color: rgb(180, 180, 180);
    transition: background-color 0.3s ease;

    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
}

.BoutonNumero:hover {
    background-color: rgb(120, 120, 120);
}

.BoutonNumero.active {
    background-color: var(--rouge);
}

.BoutonValiderManager {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90vw;
    height: 10vh;

    margin-top: 5vh;

    background-color: var(--background-color);
    color: var(--vert);

    border: 5px solid var(--vert);
    border-radius: 5vh;

    transition: background-color 0.3s ease;

    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);

    font-size: 5vh;
    font-weight: 600;
}

/* Pour les pc */
@media (min-width: 1024px) {
    .BoutonValiderManager:hover {
        background-color: var(--vert);
        color: var(--background-color);
    }

    /* .BoutonValiderManager:active, */
    .BoutonValiderManager.clicked {
        background-color: var(--background-color);
        color: var(--vert);
    }
}

/* Pour les mobiles */
@media (max-width: 1023px) {
    .BoutonValiderManager.clicked {
        background-color: var(--vert);
        color: var(--background-color);
    }
}