.PlayerListDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    padding-left: 4vw;
    padding-right: 4vw;
    overflow-y: scroll;
}

.ListeJoueurTitre {
    margin-top: 2vh;
    margin-bottom: 2vh;

    font-size: 3vh;
}